<form #contentToConvert>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Client</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option class="form-control" *ngFor="let c of client ;let i = index"
      [value]="i"
      name="client_id" placeholder="add client" [(ngValue)]="client"
      >{{c.social_reason}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea name="description" [(ngModel)]="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" (click)="generatePdf(contentToConvert)">generate pdf</button>
</form>
