<form (submit)="editClient(address,social_reason,general_manager,email,phone)" class="well">

    <fieldset>
        <legend>Edit the current client</legend>
        <div class="form-group container">
            <input type="text" class="m-3 form-control" [(ngModel)]="address" name="address" />
            <input type="text" class="m-3 form-control" [(ngModel)]="social_reason" name="social_reason">

            <input type="text" class="m-3 form-control" [(ngModel)]="general_manager" name="general_manager">

            <input type="text" class="m-3 form-control" [(ngModel)]="email" name="email">

            <input type="text" class="m-3 form-control" [(ngModel)]="phone" name="phone">
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Save changes</button>

</form>