<h4>{{Client}}</h4>

<div *ngFor="let u of listClient; let i= index">

    <fieldset border="1">
        <legend>{{u.client}}</legend>

        <table border="2">
            <tr>
                <td>Address</td>
                <td>{{u.address}}</td>
            </tr>
            <tr>
                <td>Social_reason</td>
                <td>{{u.social_reason}}</td>
            </tr>
            <tr>
                <td>General_manager</td>
                <td>{{u.general_manager}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{u.email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{u.phone}}</td>
            </tr>
            <tr>
                <td> <button (click)="deleteClient(i)" class="btn btn-danger btn-sm">Supprimer client</button></td>
                <td> <button (click)="navigateToDetails(i)" class="btn btn-info btn-sm">Modifier client</button></td>
            </tr>


        </table>
    </fieldset>

</div>