<form name="ProjectForm" [formGroup]=ProjectForm (ngSubmit)="addProject(name,description,status,deadline,others,client)" class="form-group">
    <fieldset>
        <legend>Add a new project</legend>
        <div class="form-group container">

            <input type="text" class="m-3 form-control" placeholder="Name" formControlName="name" [(ngModel)]="name" required minlength="4" required maxlength="20" />

            <div *ngIf="ProjectForm.get('name').invalid && (ProjectForm.get('name').dirty || ProjectForm.get('name').touched)" class="alert alert-danger">
                <div *ngIf="ProjectForm.get('name').errors.required"> Name is required.</div>
                <div *ngIf="ProjectForm.get('name').errors.minlength"> Name must be at least 4 characters long.</div>
                <div *ngIf="ProjectForm.get('name').errors.maxlength"> Name must be at most 12 characters long.</div>
            </div>

            <input type="textarea" class="m-3 form-control" placeholder="Description" [(ngModel)]="description" formControlName="description" required minlength="15" />

            <div *ngIf="ProjectForm.get('description').invalid && (ProjectForm.get('description').dirty || ProjectForm.get('description').touched)" class="alert alert-danger">
                <div *ngIf="ProjectForm.get('description').errors.required"> Description is required.</div>
                <div *ngIf="ProjectForm.get('description').errors.minlength"> Description must be at least 15 characters long.</div>
            </div>

            <select class="m-3 form-control" (change)="onChange2($event.target.value)" name="status" [(ngValue)]="status">
            <option  disabled>Choose status</option>
            <option value="Not valid">Not valid</option>
            <option value="Initiate">Valid</option>
         </select>

            <div *ngIf="ProjectForm.get('status').invalid && (ProjectForm.get('name').dirty || ProjectForm.get('status').touched)" class="alert alert-danger">
                <div *ngIf="ProjectForm.get('status').errors.required"> Status is required.</div>
                <div *ngIf="ProjectForm.get('status').errors.minlength"> Status must be at most 9 characters long.</div>
            </div>

            <input type="text" class="m-3 form-control" placeholder="Deadline" [(ngModel)]="deadline" formControlName="deadline" />

            <div *ngIf="ProjectForm.get('deadline').invalid && (ProjectForm.get('deadline').dirty || ProjectForm.get('deadline').touched)" class="alert alert-danger">
                <div *ngIf="ProjectForm.get('deadline').errors.required"> Deadline is required.</div>

            </div>
            <input type="text" class="m-3 form-control" placeholder="Others" [(ngModel)]="others" formControlName="others">

            <div *ngIf="ProjectForm.get('others').invalid && (ProjectForm.get('others').dirty || ProjectForm.get('others').touched)" class="alert alert-danger">
                <div *ngIf="ProjectForm.get('others').errors.required"> Others is required.</div>

            </div>

            <select class="m-3 form-control" (change)="onChange($event.target.value)">
            <option value="" disabled>Choose a client</option>
            <option class="form-control" *ngFor="let c of client ;let i = index"
            [value]="i"
            name="client_id" placeholder="Client" [(ngValue)]="client"
            >{{c.social_reason}}</option>

        </select>

        </div>
        <div *ngFor="let error of errors" class="alert alert-danger">
            <div>There is an error in :{{error.field}} field</div>
            <div>{{error.message}}</div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary" class="btn btn-info mt-4 mr-2 float-right">Save</button>
    <button class="btn btn-primary" (click)="cancelAdd(event)" class="btn btn-info mt-4 mr-2 float-right">Cancel</button>


</form>