<form action="" [formGroup]="activityForm" (ngSubmit)="updateActivity()">
  <div class="form-group container">
    <fieldset>
      <input type="text"
      [ngClass]="{'is-invalid': activityForm.invalid && activityForm.get('status').touched && activityForm.get('status').errors != null}"
      class="m-3 form-control"
      placeholder="Status"
      [(ngModel)]="activity.status"
      formControlName="status">
      <input type="text"
      [ngClass]="{'is-invalid': activityForm.invalid && activityForm.get('date').touched && activityForm.get('date').errors != null}"
      class="m-3 form-control"
      placeholder="Date"
      [(ngModel)]="activity.date"
      formControlName="date">
      <select class="m-3 form-control" formControlName="user">
        <option *ngFor="let user of users"  >{{ user.username }}</option>
      </select>
    </fieldset>
    <button class="btn btn-success" [disabled]="activityForm.invalid">Update activity</button>
  </div>
</form>
