<form (submit)="editProject(name,description,status,deadline,others)" class="well ">
    <fieldset>
        <legend>Edit the current project</legend>
        <div class="form-group container">
            <input type="text" class="m-3 form-control" [(ngModel)]="name" name="name">


            <input type="text" class="m-3 form-control" [(ngModel)]="description" name="description">

            <select class="m-3 form-control" name="status" (change)="onChange2($event.target.value)" [(ngValue)]="status">
                <option  disabled>{{status}}</option>
              
                <option value="Not valid">Not valid</option>
                <option value="Initiate">Valid</option>
             </select>

            <input type="text" class="m-3 form-control" [(ngModel)]="deadline" name="deadline">

            <input type="text" class="m-3 form-control" [(ngModel)]="others" name="others">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Save changes</button>

</form>