<!-- <div class="container">
  <div class="">
    <div class="col-xs-3">
      <h2>category list</h2>
      <ul class="list-group">
        <li *ngFor="let category of listCategoryProject" class="list-group-item card col-xs-5">
          <i>{{category.name}}</i> <br>
          <i>Description</i> :
          <p>{{category.description}}</p>
          <button class="btn btn-outline-danger m-1 col-xs-8" (click)="deleteCategory(category.id)">Delete</button>
          <button class="btn btn-outline-info m-1 col-xs-8" [routerLink]="['/list_category/edit-category', category.id]">Edit</button>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<!-- <app-add-project-category></app-add-project-category> -->
<app-list-team></app-list-team>
<app-add-team></app-add-team>
