<h1>Add Team</h1>
<!--File upload-->
<form action="" [formGroup]="teamForm" (ngSubmit)="addTeam()">
  <div class="form-group container">
    <fieldset>
      <legend>Project category</legend>
      <input type="text"
      [ngClass]="{'is-invalid': teamForm.invalid && teamForm.get('name').touched && teamForm.get('name').errors != null}"
      class="m-3 form-control"
      placeholder="Name"
      formControlName="name">
      <input type="text"
      [ngClass]="{'is-invalid': teamForm.invalid && teamForm.get('fieldOfActivity').touched && teamForm.get('fieldOfActivity').errors != null}"
      class="m-3 form-control"
      placeholder="Field"
      formControlName="fieldOfActivity">
      <input type="number"
      [ngClass]="{'is-invalid': teamForm.invalid && teamForm.get('velocity').touched && teamForm.get('velocity').errors != null}"
      class="m-3 form-control"
      placeholder="velocity"
      formControlName="velocity">
      <div class="custom-file mx-3 mb-2 form-group">
          <input
          type="file"
          class="custom-file-input"
          [ngClass]="{'is-valid': teamForm.get('logo').value , 'is-invalid': teamForm.invalid && teamForm.get('logo').touched && teamForm.get('logo').errors != null }"
          formControlName="logo"
          (change)="handleFileInput($event.target.files)">
          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
    </fieldset>
    <button class="btn btn-success" [disabled]="teamForm.invalid">Add Team</button>
  </div>
</form>
